node-red/.flows.json.backup
[{"id":"200d31f7a79eb3f0","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"779528d7.3dc088","type":"server","name":"Home Assistant","version":1,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"385969260450f310","type":"server-state-changed","z":"200d31f7a79eb3f0","name":"Sunrise / Sunset","server":"779528d7.3dc088","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sun.sun","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"above_horizon","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":60,"wires":[[],["bde39e1a7e57d764"]]},{"id":"43288a7c0c2893b0","type":"api-call-service","z":"200d31f7a79eb3f0","name":"Notify TV","server":"779528d7.3dc088","version":3,"debugenabled":false,"service_domain":"notify","service":"sony_tv","entityId":"","data":"{\"message\": '[{{ now().strftime(\"%H:%M\") }}] The sun has set!',\t\"title\": \"🌅 Sunset 🌅\",\t\"data\": {\t    \"fontsize\": \"small\",\t    \"position\": \"top-right\",\t    \"transparency\": \"75%\",\t    \"color\": \"indigo\"\t}}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":100,"wires":[[]]},{"id":"bde39e1a7e57d764","type":"api-current-state","z":"200d31f7a79eb3f0","name":"Get TV state","server":"779528d7.3dc088","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"media_player.sony_bravia_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":310,"y":100,"wires":[["c75bd7c67e58d52f","f721d3fef73d1b9e"]]},{"id":"c75bd7c67e58d52f","type":"switch","z":"200d31f7a79eb3f0","name":"Off or Unavailable?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"unavailable","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":530,"y":80,"wires":[[],[],["43288a7c0c2893b0"]]},{"id":"5ba6700ef22446a5","type":"inject","z":"200d31f7a79eb3f0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":140,"wires":[["bde39e1a7e57d764"]]},{"id":"f721d3fef73d1b9e","type":"debug","z":"200d31f7a79eb3f0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":140,"wires":[]}]