node-red/.flows.json.backup
[{"id":"200d31f7a79eb3f0","type":"tab","label":"Sunrise / Sunset","disabled":false,"info":""},{"id":"3f1c957e5ea319e3","type":"tab","label":"Bedtime","disabled":false,"info":"","env":[]},{"id":"6314b82115b44eab","type":"subflow","name":"Child Bed Time","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"7134b0bd49d68671"},{"id":"522ebe5fd9154bfb"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"2ef3914c42e1bd93","type":"subflow","name":"Compare Time","info":"","category":"","in":[{"x":40,"y":100,"wires":[{"id":"86c27237b70f1455"},{"id":"0eb6b3ae3c5c20ad"}]}],"out":[{"x":640,"y":80,"wires":[{"id":"0b19d6418b9cbdda","port":0}]},{"x":640,"y":140,"wires":[{"id":"0b19d6418b9cbdda","port":1}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"779528d7.3dc088","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"7134b0bd49d68671","type":"api-call-service","z":"6314b82115b44eab","name":"Scene On","server":"779528d7.3dc088","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.baby_sleep_time"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":220,"y":25,"wires":[[]]},{"id":"522ebe5fd9154bfb","type":"api-call-service","z":"6314b82115b44eab","name":"Turn Foscam Night On","server":"779528d7.3dc088","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.foscam_night"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":240,"y":80,"wires":[[]]},{"id":"86c27237b70f1455","type":"moment","z":"2ef3914c42e1bd93","name":"Current Time","topic":"currenttime","input":"","inputType":"date","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm:ss","locale":"C","output":"","outputType":"msg","outTz":"Europe/London","x":170,"y":60,"wires":[["7af89af2617ec076"]]},{"id":"7af89af2617ec076","type":"join","z":"2ef3914c42e1bd93","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":330,"y":100,"wires":[["0b19d6418b9cbdda","ab13222d57fb5726"]]},{"id":"0b19d6418b9cbdda","type":"function","z":"2ef3914c42e1bd93","name":"Before time?","func":"newmsg = {};\n\nif (msg.payload.currenttime < msg.payload.giventime) {\n    newmsg.payload = msg.payload.currenttime;\n    return [newmsg,null];\n} else {\n    newmsg.payload = msg.payload.currenttime;\n    return [null,newmsg];\n}\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":100,"wires":[[],[]]},{"id":"ab13222d57fb5726","type":"debug","z":"2ef3914c42e1bd93","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":60,"wires":[]},{"id":"0eb6b3ae3c5c20ad","type":"change","z":"2ef3914c42e1bd93","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"giventime","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":120,"wires":[["7af89af2617ec076"]]},{"id":"385969260450f310","type":"server-state-changed","z":"200d31f7a79eb3f0","name":"Sunrise / Sunset","server":"779528d7.3dc088","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sun.sun","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"above_horizon","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":160,"wires":[[],["bde39e1a7e57d764","d0a2ddafe3f44cc0","8948dc7fd4bdce58"]]},{"id":"43288a7c0c2893b0","type":"api-call-service","z":"200d31f7a79eb3f0","name":"Notify TV","server":"779528d7.3dc088","version":5,"debugenabled":false,"domain":"notify","service":"sony_tv","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\": '[{{ now().strftime(\"%H:%M\") }}] The sun has set!',\t\"title\": \"🌅 Sunset 🌅\",\t\"data\": {\t    \"fontsize\": \"small\",\t    \"position\": \"top-right\",\t    \"transparency\": \"75%\",\t    \"color\": \"indigo\"\t}}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1140,"y":280,"wires":[[]]},{"id":"bde39e1a7e57d764","type":"api-current-state","z":"200d31f7a79eb3f0","name":"Get TV state","server":"779528d7.3dc088","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"media_player.sony_bravia_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":350,"y":220,"wires":[["c75bd7c67e58d52f","f721d3fef73d1b9e"]]},{"id":"c75bd7c67e58d52f","type":"switch","z":"200d31f7a79eb3f0","name":"Off - Unavailable - On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"unavailable","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":580,"y":180,"wires":[["8298172eec31f821"],["8298172eec31f821"],["43288a7c0c2893b0","183c85966d25433d"]]},{"id":"5ba6700ef22446a5","type":"inject","z":"200d31f7a79eb3f0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":240,"wires":[["bde39e1a7e57d764"]]},{"id":"f721d3fef73d1b9e","type":"debug","z":"200d31f7a79eb3f0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":240,"wires":[]},{"id":"d0a2ddafe3f44cc0","type":"subflow:6314b82115b44eab","z":"200d31f7a79eb3f0","name":"","x":360,"y":320,"wires":[]},{"id":"8948dc7fd4bdce58","type":"api-call-service","z":"200d31f7a79eb3f0","name":"Sunset Scene","server":"779528d7.3dc088","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.sunset"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":360,"y":100,"wires":[[]]},{"id":"8c9d9e0435d38916","type":"ha-time","z":"200d31f7a79eb3f0","name":"Child bedtime","server":"779528d7.3dc088","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityId":"input_datetime.child_bedtime","property":"","offset":"0","offsetType":"num","offsetUnits":"minutes","randomOffset":false,"repeatDaily":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"sunday":true,"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"debugenabled":false,"x":90,"y":400,"wires":[["cc79a5e37be09e63","d0a2ddafe3f44cc0"]]},{"id":"cc79a5e37be09e63","type":"debug","z":"200d31f7a79eb3f0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":400,"wires":[]},{"id":"183c85966d25433d","type":"api-call-service","z":"200d31f7a79eb3f0","name":"SunSET Living Room Scene","server":"779528d7.3dc088","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.sun_set_living_room"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1200,"y":220,"wires":[[]]},{"id":"7d094e9cc3643061","type":"debug","z":"200d31f7a79eb3f0","name":"Sunset before bedtime","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":40,"wires":[]},{"id":"b1a3ac581ee4cda6","type":"debug","z":"200d31f7a79eb3f0","name":"Sunset after bedtime","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":80,"wires":[]},{"id":"6b25cd18743b81c4","type":"subflow:2ef3914c42e1bd93","z":"200d31f7a79eb3f0","name":"","x":940,"y":120,"wires":[["7d094e9cc3643061","183c85966d25433d"],["b1a3ac581ee4cda6"]]},{"id":"8298172eec31f821","type":"api-current-state","z":"200d31f7a79eb3f0","name":"Bedtime","server":"779528d7.3dc088","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_datetime.bed_time","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"bedtime","valueType":"str"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":780,"y":120,"wires":[["6b25cd18743b81c4"]]},{"id":"6ba6a129a46484a1","type":"server-state-changed","z":"3f1c957e5ea319e3","name":"TV Off","server":"779528d7.3dc088","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.sony_bravia_tv","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":120,"wires":[["06a34a27cdfcaf6e"],[]]},{"id":"0b6ce1ecceb78120","type":"subflow:2ef3914c42e1bd93","z":"3f1c957e5ea319e3","name":"","x":400,"y":100,"wires":[["b8b2f9bd1b57fdd1"],["c370b2fa418db75f","e49997776c3cc37a","dd7a23bfdaa3b43a","a4504bde4798b9bc"]]},{"id":"06a34a27cdfcaf6e","type":"api-current-state","z":"3f1c957e5ea319e3","name":"Bedtime","server":"779528d7.3dc088","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_datetime.bed_time","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"bedtime","valueType":"str"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":240,"y":100,"wires":[["0b6ce1ecceb78120"]]},{"id":"c370b2fa418db75f","type":"api-call-service","z":"3f1c957e5ea319e3","name":"Living Room Lights OFF","server":"779528d7.3dc088","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.living_room_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":850,"y":100,"wires":[[]]},{"id":"e49997776c3cc37a","type":"api-call-service","z":"3f1c957e5ea319e3","name":"Christmas Lights OFF","server":"779528d7.3dc088","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["group.christmas_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":160,"wires":[[]]},{"id":"e91d6452776ef937","type":"ha-time","z":"3f1c957e5ea319e3","name":"Bedtime","server":"779528d7.3dc088","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityId":"input_datetime.bed_time","property":"","offset":"0","offsetType":"num","offsetUnits":"minutes","randomOffset":false,"repeatDaily":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"sunday":true,"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"debugenabled":false,"x":100,"y":200,"wires":[["ae57ad8db41485ca"]]},{"id":"ae57ad8db41485ca","type":"api-current-state","z":"3f1c957e5ea319e3","name":"Get TV state","server":"779528d7.3dc088","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"media_player.sony_bravia_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":290,"y":200,"wires":[["ed1c9d5e7de45e7a"]]},{"id":"ed1c9d5e7de45e7a","type":"switch","z":"3f1c957e5ea319e3","name":"Off - Unavailable - On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"unavailable","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":500,"y":200,"wires":[["51299afebe217e59","c370b2fa418db75f","e49997776c3cc37a","a4504bde4798b9bc"],["51299afebe217e59","c370b2fa418db75f","e49997776c3cc37a","a4504bde4798b9bc"],[]]},{"id":"dd7a23bfdaa3b43a","type":"debug","z":"3f1c957e5ea319e3","name":"TV Off after bedtime","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"\"TV Off after bedtime\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":840,"y":60,"wires":[]},{"id":"51299afebe217e59","type":"debug","z":"3f1c957e5ea319e3","name":"Bedtime hit with TV Off","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"\"Bedtime hit with TV Off\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":850,"y":280,"wires":[]},{"id":"a4504bde4798b9bc","type":"api-call-service","z":"3f1c957e5ea319e3","name":"Sunset Scene","server":"779528d7.3dc088","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.sunset"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":220,"wires":[[]]},{"id":"5b960095b6b8c5bd","type":"debug","z":"3f1c957e5ea319e3","name":"TV Off before 5am","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"\"TV Off before 5am\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":840,"y":20,"wires":[]},{"id":"b8b2f9bd1b57fdd1","type":"time-range-switch","z":"3f1c957e5ea319e3","name":"Before 5am","lat":"","lon":"","startTime":"00:00","endTime":"05:00","startOffset":0,"endOffset":0,"x":590,"y":40,"wires":[["5b960095b6b8c5bd","c370b2fa418db75f","e49997776c3cc37a","a4504bde4798b9bc"],[]]}]