node-red/flows.json
[{"id":"200d31f7a79eb3f0","type":"tab","label":"Sunrise / Sunset","disabled":false,"info":""},{"id":"6314b82115b44eab","type":"subflow","name":"Child Bed Time","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"7134b0bd49d68671"},{"id":"522ebe5fd9154bfb"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"779528d7.3dc088","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"7134b0bd49d68671","type":"api-call-service","z":"6314b82115b44eab","name":"Scene On","server":"779528d7.3dc088","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.baby_sleep_time"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":220,"y":25,"wires":[[]]},{"id":"522ebe5fd9154bfb","type":"api-call-service","z":"6314b82115b44eab","name":"Turn Foscam Night On","server":"779528d7.3dc088","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.foscam_night"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":240,"y":80,"wires":[[]]},{"id":"385969260450f310","type":"server-state-changed","z":"200d31f7a79eb3f0","name":"Sunrise / Sunset","server":"779528d7.3dc088","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sun.sun","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"above_horizon","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":60,"wires":[[],["bde39e1a7e57d764","d0a2ddafe3f44cc0","8948dc7fd4bdce58"]]},{"id":"43288a7c0c2893b0","type":"api-call-service","z":"200d31f7a79eb3f0","name":"Notify TV","server":"779528d7.3dc088","version":5,"debugenabled":false,"domain":"notify","service":"sony_tv","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\": '[{{ now().strftime(\"%H:%M\") }}] The sun has set!',\t\"title\": \"🌅 Sunset 🌅\",\t\"data\": {\t    \"fontsize\": \"small\",\t    \"position\": \"top-right\",\t    \"transparency\": \"75%\",\t    \"color\": \"indigo\"\t}}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":60,"wires":[[]]},{"id":"bde39e1a7e57d764","type":"api-current-state","z":"200d31f7a79eb3f0","name":"Get TV state","server":"779528d7.3dc088","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"media_player.sony_bravia_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":60,"wires":[["c75bd7c67e58d52f","f721d3fef73d1b9e"]]},{"id":"c75bd7c67e58d52f","type":"switch","z":"200d31f7a79eb3f0","name":"Off or Unavailable?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"unavailable","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":570,"y":40,"wires":[[],[],["43288a7c0c2893b0"]]},{"id":"5ba6700ef22446a5","type":"inject","z":"200d31f7a79eb3f0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":20,"wires":[["bde39e1a7e57d764"]]},{"id":"f721d3fef73d1b9e","type":"debug","z":"200d31f7a79eb3f0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":100,"wires":[]},{"id":"d0a2ddafe3f44cc0","type":"subflow:6314b82115b44eab","z":"200d31f7a79eb3f0","name":"","x":300,"y":260,"wires":[]},{"id":"8948dc7fd4bdce58","type":"api-call-service","z":"200d31f7a79eb3f0","name":"Sunset Scene","server":"779528d7.3dc088","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.sunset"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":200,"wires":[[]]},{"id":"8c9d9e0435d38916","type":"ha-time","z":"200d31f7a79eb3f0","name":"Child bedtime","server":"779528d7.3dc088","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityId":"input_datetime.child_bedtime","property":"","offset":"0","offsetType":"num","offsetUnits":"minutes","randomOffset":false,"repeatDaily":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"sunday":true,"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"debugenabled":false,"x":70,"y":340,"wires":[["cc79a5e37be09e63","d0a2ddafe3f44cc0"]]},{"id":"cc79a5e37be09e63","type":"debug","z":"200d31f7a79eb3f0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":340,"wires":[]}]