node-red/flows.json
[{"id":"200d31f7a79eb3f0","type":"tab","label":"Sunrise / Sunset","disabled":false,"info":""},{"id":"3f1c957e5ea319e3","type":"tab","label":"Bedtime","disabled":false,"info":"","env":[]},{"id":"6314b82115b44eab","type":"subflow","name":"Child Bed Time","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"7134b0bd49d68671"},{"id":"522ebe5fd9154bfb"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"2ef3914c42e1bd93","type":"subflow","name":"Compare Time","info":"","category":"","in":[{"x":40,"y":100,"wires":[{"id":"86c27237b70f1455"},{"id":"0eb6b3ae3c5c20ad"}]}],"out":[{"x":640,"y":80,"wires":[{"id":"0b19d6418b9cbdda","port":0}]},{"x":640,"y":140,"wires":[{"id":"0b19d6418b9cbdda","port":1}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"bc3773dc516df588","type":"subflow","name":"Goodnight!","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"341bfb46dfe5ae0e"},{"id":"9e2b93770480f5cf"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"2cdf116aa14108a0","type":"subflow","name":"Is it bed time?","info":"","category":"","in":[{"x":40,"y":120,"wires":[{"id":"9239c834323b35bc"}]}],"out":[{"x":680,"y":60,"wires":[{"id":"b7cf2a00fd03e7be","port":1},{"id":"b2e4a78cdc26d155","port":0}]},{"x":680,"y":120,"wires":[{"id":"b2e4a78cdc26d155","port":1}]}],"env":[],"meta":{},"color":"#E2D96E","outputLabels":["Yes","No"],"icon":"font-awesome/fa-hotel"},{"id":"779528d7.3dc088","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"7134b0bd49d68671","type":"api-call-service","z":"6314b82115b44eab","name":"Baby Sleep Time On","server":"779528d7.3dc088","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.baby_sleep_time"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":260,"y":25,"wires":[[]]},{"id":"522ebe5fd9154bfb","type":"api-call-service","z":"6314b82115b44eab","name":"Turn Foscam Night On","server":"779528d7.3dc088","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.foscam_night"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":240,"y":80,"wires":[[]]},{"id":"86c27237b70f1455","type":"moment","z":"2ef3914c42e1bd93","name":"Current Time","topic":"currenttime","input":"","inputType":"date","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm:ss","locale":"C","output":"","outputType":"msg","outTz":"Europe/London","x":170,"y":60,"wires":[["7af89af2617ec076"]]},{"id":"7af89af2617ec076","type":"join","z":"2ef3914c42e1bd93","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":330,"y":100,"wires":[["0b19d6418b9cbdda","ab13222d57fb5726"]]},{"id":"0b19d6418b9cbdda","type":"function","z":"2ef3914c42e1bd93","name":"Before time?","func":"newmsg = {};\n\nif (msg.payload.currenttime < msg.payload.giventime) {\n    newmsg.payload = msg.payload.currenttime;\n    return [newmsg,null];\n} else {\n    newmsg.payload = msg.payload.currenttime;\n    return [null,newmsg];\n}\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":100,"wires":[[],[]]},{"id":"ab13222d57fb5726","type":"debug","z":"2ef3914c42e1bd93","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":60,"wires":[]},{"id":"0eb6b3ae3c5c20ad","type":"change","z":"2ef3914c42e1bd93","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"giventime","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":120,"wires":[["7af89af2617ec076"]]},{"id":"d6a9fdf655cb534b","type":"api-call-service","z":"bc3773dc516df588","name":"Living Room Lights OFF","server":"779528d7.3dc088","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.living_room_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":230,"y":20,"wires":[[]]},{"id":"9e2b93770480f5cf","type":"api-call-service","z":"bc3773dc516df588","name":"Christmas Lights OFF","server":"779528d7.3dc088","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["group.christmas_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":220,"y":80,"wires":[[]]},{"id":"341bfb46dfe5ae0e","type":"api-call-service","z":"bc3773dc516df588","name":"Bedtime Scene","server":"779528d7.3dc088","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.bedtime"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":200,"y":140,"wires":[[]]},{"id":"9239c834323b35bc","type":"api-current-state","z":"2cdf116aa14108a0","name":"Bedtime","server":"779528d7.3dc088","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_datetime.bed_time","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"bedtime","valueType":"str"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":160,"y":120,"wires":[["b7cf2a00fd03e7be"]]},{"id":"b7cf2a00fd03e7be","type":"subflow:2ef3914c42e1bd93","z":"2cdf116aa14108a0","name":"","x":340,"y":120,"wires":[["b2e4a78cdc26d155"],[]]},{"id":"b2e4a78cdc26d155","type":"time-range-switch","z":"2cdf116aa14108a0","name":"Before 5am","lat":"","lon":"","startTime":"00:00","endTime":"05:00","startOffset":0,"endOffset":0,"x":470,"y":40,"wires":[[],[]]},{"id":"385969260450f310","type":"server-state-changed","z":"200d31f7a79eb3f0","name":"Sunrise / Sunset","server":"779528d7.3dc088","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"sun.sun","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"above_horizon","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":160,"wires":[[],["bde39e1a7e57d764","4701b372c80b2616"]]},{"id":"43288a7c0c2893b0","type":"api-call-service","z":"200d31f7a79eb3f0","name":"Notify TV","server":"779528d7.3dc088","version":5,"debugenabled":false,"domain":"notify","service":"sony_tv","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\": '[{{ now().strftime(\"%H:%M\") }}] The sun has set!',\t\"title\": \"🌅 Sunset 🌅\",\t\"data\": {\t    \"fontsize\": \"small\",\t    \"position\": \"top-right\",\t    \"transparency\": \"75%\",\t    \"color\": \"indigo\"\t}}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":340,"wires":[[]]},{"id":"bde39e1a7e57d764","type":"api-current-state","z":"200d31f7a79eb3f0","name":"Get TV state","server":"779528d7.3dc088","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"media_player.sony_bravia_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":350,"y":220,"wires":[["c75bd7c67e58d52f","f721d3fef73d1b9e"]]},{"id":"c75bd7c67e58d52f","type":"switch","z":"200d31f7a79eb3f0","name":"Off - Unavailable - On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"unavailable","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":580,"y":180,"wires":[["8a9bc9879ecb6cf3"],["8a9bc9879ecb6cf3"],["43288a7c0c2893b0","183c85966d25433d","8948dc7fd4bdce58"]]},{"id":"5ba6700ef22446a5","type":"inject","z":"200d31f7a79eb3f0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":240,"wires":[["bde39e1a7e57d764"]]},{"id":"f721d3fef73d1b9e","type":"debug","z":"200d31f7a79eb3f0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":240,"wires":[]},{"id":"8948dc7fd4bdce58","type":"api-call-service","z":"200d31f7a79eb3f0","name":"Sunset Scene","server":"779528d7.3dc088","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.sunset"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1040,"y":220,"wires":[[]]},{"id":"8c9d9e0435d38916","type":"ha-time","z":"200d31f7a79eb3f0","name":"Child bedtime","server":"779528d7.3dc088","version":3,"exposeAsEntityConfig":"","entityId":"input_datetime.child_bedtime","property":"","offset":"0","offsetType":"num","offsetUnits":"minutes","randomOffset":false,"repeatDaily":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"sunday":true,"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"x":90,"y":400,"wires":[["cc79a5e37be09e63","4701b372c80b2616","5c058ff26304cda2"]]},{"id":"cc79a5e37be09e63","type":"debug","z":"200d31f7a79eb3f0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":440,"wires":[]},{"id":"183c85966d25433d","type":"api-call-service","z":"200d31f7a79eb3f0","name":"SunSET Living Room Scene","server":"779528d7.3dc088","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.sun_set_living_room"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1080,"y":280,"wires":[[]]},{"id":"7d094e9cc3643061","type":"debug","z":"200d31f7a79eb3f0","name":"Sunset before bedtime","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":100,"wires":[]},{"id":"b1a3ac581ee4cda6","type":"debug","z":"200d31f7a79eb3f0","name":"Sunset after bedtime","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":60,"wires":[]},{"id":"8a9bc9879ecb6cf3","type":"subflow:2cdf116aa14108a0","z":"200d31f7a79eb3f0","name":"","x":820,"y":120,"wires":[["b1a3ac581ee4cda6"],["7d094e9cc3643061","183c85966d25433d","8948dc7fd4bdce58"]]},{"id":"4701b372c80b2616","type":"api-call-service","z":"200d31f7a79eb3f0","name":"Turn Foscam Night On","server":"779528d7.3dc088","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.foscam_night"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":380,"y":360,"wires":[[]]},{"id":"5c058ff26304cda2","type":"api-call-service","z":"200d31f7a79eb3f0","name":"Baby Sleep Time On","server":"779528d7.3dc088","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.baby_sleep_time"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":380,"y":400,"wires":[[]]},{"id":"6ba6a129a46484a1","type":"server-state-changed","z":"3f1c957e5ea319e3","name":"TV Off","server":"779528d7.3dc088","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"media_player.sony_bravia_tv","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":240,"wires":[["0cf7e9fbc4fa8bcd"],[]]},{"id":"e91d6452776ef937","type":"ha-time","z":"3f1c957e5ea319e3","name":"Bedtime","server":"779528d7.3dc088","version":3,"exposeAsEntityConfig":"","entityId":"input_datetime.bed_time","property":"","offset":"0","offsetType":"num","offsetUnits":"minutes","randomOffset":false,"repeatDaily":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"sunday":true,"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"x":100,"y":60,"wires":[["ae57ad8db41485ca","9867e59975b2b953"]]},{"id":"ae57ad8db41485ca","type":"api-current-state","z":"3f1c957e5ea319e3","name":"Get TV state","server":"779528d7.3dc088","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"media_player.sony_bravia_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":310,"y":100,"wires":[["ed1c9d5e7de45e7a"]]},{"id":"ed1c9d5e7de45e7a","type":"switch","z":"3f1c957e5ea319e3","name":"Off - Unavailable - On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"unavailable","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":520,"y":100,"wires":[["51299afebe217e59","6c7dd18048f134a9"],["51299afebe217e59","6c7dd18048f134a9"],[]]},{"id":"dd7a23bfdaa3b43a","type":"debug","z":"3f1c957e5ea319e3","name":"TV Off after bedtime","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"\"TV Off after bedtime\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":820,"y":180,"wires":[]},{"id":"51299afebe217e59","type":"debug","z":"3f1c957e5ea319e3","name":"Bedtime hit with TV Off","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"\"Bedtime hit with TV Off\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":810,"y":60,"wires":[]},{"id":"6c7dd18048f134a9","type":"subflow:bc3773dc516df588","z":"3f1c957e5ea319e3","name":"","x":790,"y":120,"wires":[]},{"id":"0cf7e9fbc4fa8bcd","type":"subflow:2cdf116aa14108a0","z":"3f1c957e5ea319e3","name":"","x":300,"y":220,"wires":[["dd7a23bfdaa3b43a","6c7dd18048f134a9"],[]]},{"id":"3d708977ac55a84a","type":"server-state-changed","z":"3f1c957e5ea319e3","name":"Door opens","server":"779528d7.3dc088","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"binary_sensor.openclose_5","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":300,"wires":[["f8d9087869088b1d"],[]]},{"id":"f8d9087869088b1d","type":"subflow:2cdf116aa14108a0","z":"3f1c957e5ea319e3","name":"","x":300,"y":300,"wires":[["a45a26dee55f7c36","7f095b4d5075f64e","0c6f4ae677d19a7a"],[]]},{"id":"9db73ca6bd98a723","type":"api-call-service","z":"3f1c957e5ea319e3","name":"SunSET Living Room Scene","server":"779528d7.3dc088","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.sun_set_living_room"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":700,"y":420,"wires":[[]]},{"id":"a45a26dee55f7c36","type":"ha-wait-until","z":"3f1c957e5ea319e3","name":"Wait TV or 1hr","server":"779528d7.3dc088","version":2,"outputs":2,"entityId":"media_player.sony_bravia_tv","entityIdFilterType":"exact","property":"state","comparator":"is_not","value":"off","valueType":"str","timeout":"60","timeoutType":"num","timeoutUnits":"minutes","checkCurrentState":false,"blockInputOverrides":true,"outputProperties":[],"x":520,"y":260,"wires":[[],["6c7dd18048f134a9","9fe5daea728fcb8c"]]},{"id":"7f095b4d5075f64e","type":"debug","z":"3f1c957e5ea319e3","name":"Door opened after bed time","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"\"Door opened after bed time\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":570,"y":320,"wires":[]},{"id":"0c6f4ae677d19a7a","type":"moment","z":"3f1c957e5ea319e3","name":"Current Week Day","topic":"","input":"","inputType":"date","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"d","locale":"C","output":"","outputType":"msg","outTz":"Europe/London","x":290,"y":380,"wires":[["9a31e2377bdc94a4"]]},{"id":"9a31e2377bdc94a4","type":"switch","z":"3f1c957e5ea319e3","name":"Wednesday?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":380,"wires":[["9f0384486a6b5562"],["9db73ca6bd98a723"]]},{"id":"9f0384486a6b5562","type":"api-call-service","z":"3f1c957e5ea319e3","name":"Living Room after bball Scene","server":"779528d7.3dc088","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.living_room_after_bball"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":360,"wires":[[]]},{"id":"9867e59975b2b953","type":"api-call-service","z":"3f1c957e5ea319e3","name":"Bedtime scene On","server":"779528d7.3dc088","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.bedtime"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":330,"y":40,"wires":[[]]},{"id":"9fe5daea728fcb8c","type":"debug","z":"3f1c957e5ea319e3","name":"Lights off 1 hour after door opened","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"\"Lights off 1 hour after door opened\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":870,"y":240,"wires":[]}]